<html>
  <head>
    <style type="text/css">
      h1 {
        font-family: Arial;
        text-align: center;
      }
      form {
        font-family: Arial;
        text-align: center;
      }
    </style>
  </head>
  <h1>Hello there!</h1>
  <form name="birthday_form">
    <label>What's your name?</label>
    <p>
      <input type="text" id="user_name" name="user_name">
    </p>
    <label>When's your birthday?</label>
    <p>
      <label>Day:</label>
      <input type="text" id="day_of_month" name="day_of_month">
      <label>Month:</label>
<!-- tried this but didn't work
      <datalist id="month">
        <option value="January">
        <option value="February">
        <option value="March">
      </datalist>
-->
      <input type="text" id="month" name="month">
    </p>
    <p>
      <input type="submit" value="Go!">
    </p>
  </form>
</html>
